<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>better 燕窝</title>
    <link rel="stylesheet" href="../../statics/css/layui.css" media="all" />
</head>
<body>



<script type="text/javascript" src="../../statics/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="../../statics/plugins/layui/layui.js"></script>
<script>
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
        var form = layui.form;
        layer.msg('Hello World');
    });
</script>
</body>
</html>

